.solution-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
}

.deque {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
